
body {
  background: linear-gradient(135deg, #b4d6f4, #ffffff);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 10px 10px 10px 10px;
    color: #f4f4f6;
}


section {
  padding: 60px 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 15px;
  }

  section {
    padding: 40px 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal center */
  padding-top: 90px;   /* To offset navbar height */
  gap: 80px;
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Space between sections */
}
