.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 15px;
  border-radius: 20px;
  /*box-shadow:  8px 30px rgba(0, 0, 0, 0.1);*/
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
    box-shadow: 5px 8px 30px rgb(246, 17, 215);

}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  position: relative;
}

.navbar li:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}

.navbar li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: 0.3s ease;
}

.navbar li:hover::after {
  width: 100%;
}
